<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Profile</title>
    
    <!-- CSS LINK-->
    <link rel="stylesheet" href="css/clientTemplate.css">

     <!-- font-awsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  

</head>
<body>

   <div class="container">
       <div class="main">
           <!-- Nav starting point -->
           <div class="nav">
               <div class="top-nav">
                   <div class="banner">
                     <h3>Client Profile</h3>
                   </div>
                   <i class="fas fa-bars"></i>
               </div>

               <div class="bottom-nav">
                   
                   <div class="nav-name-div">
                      <h3>Jason Patel</h3>
                   </div>

                   <div class="edit-div">
                      <h4>Edit Proflie</h4>
                   </div>

               </div>

           </div>
           <!-- Nav ending point -->
           
           <!-- starting first div -->
           <div class="first-div">
               <div class="div-1">
                  <h4>SEX :</h4>
                  <h4>Male</h4>
               </div>
               <div class="div-1">
                  <h4>AGE :</h4>
                  <h4>32</h4>
               </div>
               <div  class="div-2">
                  <h4>START DATE :</h4>
                  <h4>1/30/2022</h4>
               </div>

           </div>
           <!-- ending first div -->

           <div class="client-info-wrapper">
               <div class="div-001">
                   <h5>Total Time:</h5>
                   <p>12:30</p>
               </div>
               <div class="div-002">
                    <h3>Address : </h3>
                    <h3>7193 Alderwood Court</h3>
               </div>
               <div class="div-002">
                    <h3>State, City :</h3>
                    <h3>Brooklyn, NY 11210</h3>
               </div>

           </div>



       </div>

   </div>

   <div class="footer">

   </div>
    
</body>
</html>