<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/loginPage.css">
</head>
<body>

   

    <div class="login-div">

            <input id="email" class="input-login" type="email" name="emailTyped" placeholder="email" />

            <input id="password"  class="input-login" type="password" name="passwordTyped" placeholder="password" />

            <h1 id="submit-btn">Submit</h1>

    </div>

    <script src="loginPage.js" ></script>
    
</body>
</html>