@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #F5F5F5;
}

.container {
    min-height: 100%;
}

.main {
   overflow: auto;
   /* padding-bottom keeps content from going beneath footer*/
   padding-bottom: 100px;
}

.top-nav {
   background-color: #F5F5F5;
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.bottom-nav {
    background-color: #323232;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.bottom-nav h3 {
    color: #F5F5F5;
}


.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 380px;
}

.fa-bars {
    color: #323232;
    font-size: 26px;
}

.first-div {
    border: 3px solid #FFA400;
    border-radius: 10px;
    margin: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: 5px solid #FFA400;
}

.div-1 {
    border-right: 2px solid #FFA400;
    /* padding: 7px; */
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-2 {
    /* padding: 7px; */
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-1 h4 {
    margin: 10px;
    font-size: 17px;
}

.div-2 h4 {
    margin: 10px;
    font-size: 17px;
}


.client-info-wrapper {
    border: 3px solid #D3DEDC;
    margin: 12px;
    margin-top: 20px;
}

.div-001 {
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    color: #323232;
}

.div-001 p {
    font-size: 13px;
}

.div-002 {
    padding: 20px;
    background-color: #F5F5F5;
    border-top: 3px solid #D3DEDC;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: row;
}

.div-002 h3{
    margin-right: 10px;
}

.task-wrapper {
  background-color: #fff;
  border: 2px solid #D3DEDC;
  margin: 12px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.task-wrapper h3 {
    font-family: 'Bebas Neue', cursive; 
    padding: 10px;
}

.task-wrapper p {
    font-family: 'Bebas Neue', cursive;
    padding: 12px;
    display: block;
}

.timer-btn-div {
    border-left: 2px solid #D3DEDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 350px;
}

.time-icon {
    font-size: 20px;
    margin: 12.25px;
    cursor: pointer;
}

.time-icon:hover {
    color: #FFA400;
}





.footer {
    background-color: #323232;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.edit-div {
    border: 2px solid #FFA400;
    color: #FFA400;
    text-align: center;
    padding: 6px;
    width: 150px;
    cursor: pointer;
}

.edit-div:hover {
    background-color: #FFA400;
    color:#323232;
}

.edit-div h4:hover {
    /* color: #D3DEDC; */
}

.nav-name-div {
    color: #D3DEDC;
    letter-spacing: 4px;
}



/* tablet  */

@media (min-width: 768px){

    .div-001 {
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Bebas Neue', cursive;
        color: #323232;
    }

    .div-001 h5 {
        font-size: 20px;
    }
    
    .div-001 p {
        font-size: 18px;
    }

    .task-info {
        min-width: 680px;
    }

    .time-icon {
        font-size: 20px;
        cursor: pointer;
    }

    .timer-btn-div {
        border-left: 2px solid #D3DEDC;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .time-icon {
        font-size: 20px;
        margin: 12.25px;
        padding-left: 8.25px;
        padding-right: 8.25px;
        cursor: pointer;
    }



}


  /* labtop  1024*/
@media (min-width: 1024px){

    .task-wrapper {
        background-color: #fff;
        border: 2px solid #D3DEDC;
        margin: 12px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        max-width: 750px;
      }

      .first-div {
        max-width: 750px;
    }
    

      .client-info-wrapper {
        border: 3px solid #D3DEDC;
        margin: 12px;
        margin-top: 20px;
        max-width: 750px;
    }

    .fa-bars {
    visibility: hidden;
    }

    .time-icon {
        font-size: 20px;
        margin: 12.25px;
        padding-left: 10.25px;
        padding-right: 10.25px;
        cursor: pointer;
    }

 


}






