@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #4FBDBA;
    background: url("https://wallpapertag.com/wallpaper/full/f/d/d/357697-plain-black-background-1920x1080-for-retina.jpg");
    
    background-repeat: no-repeat;
    
}

.login-div {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 360px;
    /* border: 2px solid red; */
}


.btn-outline-warning{
    max-width: 230px;
    margin: 10px;
    margin-left:90px;
}

.input-login {
    height: 35px;
    width: 230px;
    /* font-family: 'Bebas Neue', cursive; */
    position: relative;
    margin: 10px;
    margin-left:90px;
    border: none;
}

@media(min-width: 768px){


    .btn-outline-warning{
        max-width: 230px;
        margin: 10px;
        margin-left:270px;
    }
    
    .input-login {
        height: 35px;
        width: 230px;
        /* font-family: 'Bebas Neue', cursive; */
        position: relative;
        margin: 10px;
        margin-left:270px;
        border: none;
    }



}

@media(min-width: 1024px){

    .btn-outline-warning{
        max-width: 230px;
        margin: 10px;
        margin-left:400px;
    }
    
    .input-login {
        height: 35px;
        width: 230px;
        /* font-family: 'Bebas Neue', cursive; */
        position: relative;
        margin: 10px;
        margin-left:400px;
        border: none;
    }


}